body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(161, 0, 0, 0.3);
    margin-top: 0;
}

section {
    font-family: 'opensans', sans-serif;
    max-width: 1280px;
    background: #fcfcfc;
    align-items: center;
    padding: 48px 48px 64px 48px;
    border: #fcfcfc solid 1px;
}

ul, ol {
    margin-bottom: 24px;   
}

li {
    margin-bottom: 8px;
}

.huvudRubrik {
    color: #a10000;
    margin-bottom: 24px;
}

.underRubrik {
    margin: 0;
    margin-bottom: 16px;
}

.beskrivning {
    background: #EBEBEB;
    font-weight: 400;
    font-size: 16px;
    padding: 16px;
    line-height: 100%;
    margin: 0;
    margin-bottom: 24px;
}

.bigPic {
    width: 1280px;
    border: 1px solid #fcfcfc;
    border-top: none;
    height: 500px;
    object-fit: cover;
    display: block;

}

.smallPicsArticle {
    display: flex;
    gap: 24px;
}

.smallPicsArticle figure {
    margin: 0;
}

.smallPic {
    width: 580px;
    min-width: 300px;
    height: 467px;
    object-fit: cover;
}