body {
    /* width: 2000px;
    height: 1900px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(161, 0, 0, 0.3);
    margin-top: 0;
}

p, ul, ol {
    font-family: 'opensans', sans-serif;
}

ul, ol {
    margin-bottom: 24px;   
}

li {
    margin-bottom: 8px;
}

section {
    max-width: 1280px;
    background: #fcfcfc;
    align-items: center;
    padding-top: 48px;
    padding-right: 48px;
    padding-bottom: 64px;
    padding-left: 48px;
    border: #fcfcfc solid 1px;
}

#huvudRubrik {
    font-size: 28px;
    color: #a10000;
    margin-bottom: 24px;
}

 .rubrik {
    font-size: 24px;    
    font-weight: bold;
    line-height: 100%;
    margin: 0;
    margin-bottom: 16px;
}

.beskrivning {
    background: #EBEBEB;
    font-weight: 400;
    font-size: 16px;
    padding: 16px;
    line-height: 100%;
    margin: 0;
    margin-bottom: 24px;
}

.bigPic {
    width: 1280px;
    border: 1px solid #fcfcfc;
    border-top: none;
    height: 500px;
    object-fit: cover;
}

.smallPicsDiv {
    display: flex;
    gap: 24px;
}

.smallPic {
    width: 580px;
    min-width: 300px;
    height: 467px;
    object-fit: cover;
}