:root {
  --h1-color: #a10000;
  --background-clr-pink: #a100004d;
  --background-clr-white: #fcfcfc;
  --description-grey: #ebebeb;
  --login-brown: #3d2315;

  --max-width: 1280px;
}

body {
  background: var(--background-clr-pink);
  font-family: "opensans", sans-serif;
  margin: 0;
}

ul,
ol {
  margin-bottom: 1.5rem;

  li {
    margin-bottom: 0.5rem;
  }
}

h1 {
  color: var(--h1-color);
  margin-block-end: 1.5rem;
}

h2 {
  margin: 0;
  margin-bottom: 16px;
}

.skip-link {
  position: absolute;
  left: -9999px;

  &:focus-visible {
    left: 0;
    top: 0;
    background: var(--background-clr-white);
    padding: 0.5rem 0.5rem;
  }
}

.navbar-top ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  background: var(--background-clr-white);
  padding-block: 0.5rem;
  padding-inline: 48px;
  margin: 0 auto;
  gap: 2rem;
  list-style: none;

  .navbar-logo img {
    width: 70px;
  }

  .navbar-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 3rem;

    .navbar-item a {
        text-decoration: none;
    }
  }

  .navbar-item a {
    color: var(--login-brown);
    font-weight: bold;
  }

  .navbar-login a {
    background: var(--login-brown);
    color: var(--background-clr-white);
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
  }
}

.main {
  max-width: var(--max-width);
  margin: 0 auto;
}

.hero {
  width: 100%;
  border: 1px solid var(--background-clr-white);
  border-block-start: none;
  height: 500px;
  object-fit: cover;
}

article {
  background: var(--background-clr-white);
  padding-block: 48px 64px;
  padding-inline: 48px 48px;
  margin-block-end: 64px;
  border: var(--background-clr-white) solid 1px;
}

.description {
  background: var(--description-grey);
  padding: 1rem;
  margin-block-end: 1.5rem;
}

figure {
  display: flex;
  flex-wrap: wrap;
  column-gap: 22px;
  row-gap: 4px;

  > .serving-img {
    width: 580px;
    min-width: 300px;
    height: 467px;
    object-fit: cover;
  }
}